<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>433633667752-3hqu5u6149v3b2hq5qaasp7d6drvcapo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.433633667752-3hqu5u6149v3b2hq5qaasp7d6drvcapo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>433633667752-th514evi23sv75dsljufnumhgb0g52b6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAlnI-JWKhQ9uwm-w_95e_-5bBFnaUKLsQ</string>
	<key>GCM_SENDER_ID</key>
	<string>433633667752</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.ecommerceapp</string>
	<key>PROJECT_ID</key>
	<string>rnecommerce-5bca1</string>
	<key>STORAGE_BUCKET</key>
	<string>rnecommerce-5bca1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:433633667752:ios:7e7fa685cb77971084f09d</string>
	<key>CFBundleURLTypes</key>
<array>
  <dict>
    <key>CFBundleURLSchemes</key>
    <array>
      <string>com.googleusercontent.apps.433633667752-3hqu5u6149v3b2hq5qaasp7d6drvcapo</string>
    </array>
  </dict>
</array>
</dict>
</plist>